* {
    margin: 0;
}
main {
    text-align: center;
    padding: 0px 50px;
  }

#image {
    max-width: 75%;
    height: 75%;
}

#img-div {
align-items: center;
display: flex;
justify-content: center;
}